<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>The People and Projects of</h3>
                <h1>Code for Greenville, SC</h1>
                <h5>Right now, we're building apps to Track the Trolley and an API of tech organizations and their events..</h5>
                <h5>Join a project or suggest something new.</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!--<img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">-->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
